# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/

# Pessoal
*.iso
*.cfg
*.dmp
.gitignore
.idea

phanterps2.cfg
language/sample.lng
language/en-EN.lng
imagem_check.cfg
Dependências/lista de dependências.txt
imagem_check.cfg
imagem_check.cfg
language/en-EN.lng
language/sample.lng
language/googletranslate.py
language/googletranslate.txt
language/traduzido.txt
phanterps2.cfg
imagens/favicon64.png
imagens/favicon256.png
imagens/favicon128.png
imagens/favicon32.png
imagens/favicon16.png
imagens/CD-AUDIO_logo.png
dados.zip
imagem_check.cfg
imagens/conexao.png
imagens/icon.bkp
imagens/splash.jpg
imagens/Thumbs.db
pwd
imagem_check.cfg
